@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grey);
  font-family: "Overpass", sans-serif;
}

main {
  width: 400px;
  height: 400px;
  margin: 150px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-Blue);
  border-radius: 20px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: hsla(216, 12%, 8%, 0.2);
}

.star > img {
  width: 20px;
  height: 20px;
}

h1 {
  color: var(--White);
}

p {
  line-height: 1.4rem;
}

.score {
  position: relative;
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.num {
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: hsla(216, 12%, 8%, 0.2);
  font-weight: 700;
}

.num:focus,
.num:active {
  background-color: var(--Medium-Grey);
  color: var(--White);
  cursor: pointer;
}

.num:hover {
  background-color: var(--Orange);
  color: var(--White);
  cursor: pointer;
}

button {
  padding: 10px 0;
  background: var(--Orange);
  color: var(--White);
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.4s;
}

button:hover {
  color: hsl(25, 97%, 53%);
  background-color: var(--White);
  transition: all 0.4s;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.state {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-Blue);
  border-radius: 20px;
  display: none;
  text-align: center;
}

.select {
  color: var(--Orange);
  line-height: 2.5rem;
  width: 200px;
  margin: 12px auto;
  border-radius: 16px;
  background-color: hsla(216, 12%, 8%, 0.2);
}
